<header style="background: #bada55;">
  <a href="/" style="display: inline-block"><h1>The Forum</h1></a>
  <a href="/category/56acbd365b39b94d6362e4a9" style="display: inline-block;">Caroline Example Thread</a> &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/category/56acee201478743253167719" style="display: inline-block;">Sophie Example Thread</a> &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/category/addyouridhere" style="display: inline-block;">Angus Example Thread</a> &nbsp;&nbsp;&nbsp;&nbsp;

</header>