<header style="background: #bada55;">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Saving JWT's Clientside</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="register-link logged-out">Register</a></li>
        <li><a href="/" class="login-link logged-out">Login</a></li>
        <li><a href="/" class="users-link logged-in">Users</a></li>
        <li><a href="/" class="logout-link logged-in">Logout</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  <a href="/" style="display: inline-block"><h1>The Forum</h1></a>
  <a href="/category/56acbd365b39b94d6362e4a9" style="display: inline-block;">Caroline Example Thread</a> &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/category/56acee201478743253167719" style="display: inline-block;">Sophie Example Thread</a> &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/category/addyouridhere" style="display: inline-block;">Angus Example Thread</a> &nbsp;&nbsp;&nbsp;&nbsp;

</header>