<header style="background: #bada55;">
  <a href="/" style="display: inline-block"><h1>The Forum</h1></a>
  <a href="/category/56acbb9731d3996062f9dbfb" style="display: inline-block;">Example Thread</a>
</header>