<header style="background: #bada55;">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" style="display: inline-block"><h1>The 4-RUM</h1></a>

      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup" class="register-link logged-out">Register</a></li>
        <li><a href="/loginform" class="login-link logged-out">Login</a></li>
        <li><a href="" id="current_user_email" class="logged-in"></a></li>
        <li><img src="" id="current_user_avatar" class="logged-in user-avatar-image"></li>
        <li><a href="/" class="logout-link logged-in">Logout</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>

  
  
</header>