<h2>This is the index page.</h2>



<!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->

<%- contentFor('title') %>
Add a New Quote

<%- contentFor('stylesheets') %>
<link rel='stylesheet' href='/stylesheets/style.css' /> 