<section class="container">
  <div class="row">
          
    <a href="/tech"><div class="col-md-4 index-topics" data-id="tech">
    <h2>Tech</h2>
    </div></a>

    <a href="/business"><div class="col-md-4 index-topics" data-id="business">
    <h2>Business</h2>
    </div></a>

    <a href="/showbiz"><div class="col-md-4 index-topics" data-id="showbiz">
    <h2>SHOWBIZ</h2>
    </div></a>
  </div>

  <div class="row">
          
    <a href="/culture"><div class="col-md-4 index-topics" data-id="culture">
    <h2>culture</h2>
    </div></a>

    <a href="/lifestyle"><div class="col-md-4 index-topics" data-id="lifestyle">
    <h2>lifestyle</h2>
    </div></a>

    <a href="/world"><div class="col-md-4 index-topics" data-id="world">
    <h2>world</h2>
    </div></a>
  </div>
  </div>
</section>

	  	

