<h2>This is the index page.</h2>

<section class="container">
  <div class="row">
          
    <a href="/category"><div class="col-md-4 index-topics">
    <h2>Tech</h2>
    </div></a>

    <a href="/category"><div class="col-md-4 index-topics">
    <h2>Business</h2>
    </div></a>

    <a href="/category"><div class="col-md-4 index-topics">
    <h2>SHOWBIZ</h2>
    </div></a>
  </div>

  <div class="row">
          
    <a href="/category"><div class="col-md-4 index-topics">
    <h2>culture</h2>
    </div></a>

    <a href="/category"><div class="col-md-4 index-topics">
    <h2>lifestyle</h2>
    </div></a>

    <a href="/category"><div class="col-md-4 index-topics">
    <h2>world</h2>
    </div></a>
  </div>

  


  </div>
</section>
