<!-- .populate("comments") -->
<br>
<div class="container show-user">
  <div class="row show-user">
  <div class="col-md-10 centered">
    <div class="show-user">
      <img class="user-avatar-image" src="<%= user.avatar %>">
    </div>
    <div class="col-md-10 show-user">
      <h2>Username</h2>
      <h3 class="usershowtext"><%= user.username %></h3>
   
      <h2>Email</h2>
      <h3 class="usershowtext"><%= user.email %></h3>
      <br>
    </div>
    <form method="POST" action="/users/<%= user._id %>?_method=DELETE">
      <input type="submit" id="delete-user-account" value="Delete Your Profile">
    </form>
  </div>
  </div>
</div>


