
<head>
  <meta charset="utf-8">
  <title>Saving JWT Clientside</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
  <!-- Local files -->




<h1> here be a form for signing up </h1>
<!-- form action to /users as we are adding to user directory - this page will need to have a redirect-->
<!-- action POST as we are inputting to database-->
<form id="signup-form" action="/register" method='POST'>
  Username:
  <br>
  <!--name="user[username]" corresponds to user model data field of username -->
  <input type="text" name="name">
  <br>
  Email:<br>
  <input type="email" name="email" >
  <br>
   Password:<br>
  <input type="password" name="password" >
  <br>
  <!--will need to prevent default if we wish to use ajax -->
  <input type="submit" value="Submit">
</form> 


