
<head>
  <meta charset="utf-8">
  <title>Saving JWT Clientside</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <!-- Local files -->
  <script type="text/javascript" src="./js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Saving JWT's Clientside</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="register-link logged-out">Register</a></li>
        <li><a href="/" class="login-link logged-out">Login</a></li>
        <li><a href="/" class="users-link logged-in">Users</a></li>
        <li><a href="/" class="logout-link logged-in">Logout</a></li>
      </ul>
    </div><!-- /.container-fluid -->
  </nav>
</header>



<h1> here be a form for signing up </h1>
<!-- form action to /users as we are adding to user directory - this page will need to have a redirect-->
<!-- action POST as we are inputting to database-->
<form action="/register" method='POST'>
  <!--Username:<br>-->
  <!-- name="user[username]" corresponds to user model data field of username -->
  <!--<input type="text" name="user[username]">
  <br>-->
  Email:<br>
  <input type="email" name="email" >
  <br>
   Password:<br>
  <input type="password" name="password" >
  <br>
  <!-- will need to prevent default if we wish to use ajax-->
  <input type="submit" value="Submit">
</form> 



<section id="login">
  <h2>Login</h2>
  <form class="login" method="post" action="/login">
    <div class="form-group">
      <label for="login-email">Email address</label>
      <input type="email" name="email" id="login-email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="login-password">Password</label>
      <input type="password" name="password" id="login-password" class="form-control"  placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</section>
