/* Style for Forum */

body {
  background: #efefef;
}

.index-topics {
  background-color: #1A8;
  text-align: center;
  text-transform: uppercase;
  margin:10px;
  height: 160px;

}

.index-topics:hover{
  background-color: #bada55;
}

.index-topics h2 {
  position: relative;
  top:50%;
  transform: translateY(-50%);
  margin-top: 10px;
  color: white;

}

@media (min-width: 992px) {
  .col-md-4.index-topics {
    width: 30.333333%;
}

.comment-block {
  border: 1px solid #fa3aab;
  margin-bottom: 1em;
  padding: 1em 0;
  background-color: pink;
}

a.edit-comment-button, form.delete-comment-form {
  display: inline-block;

}

a.button {
  background-color: #c0c0c0;
   padding: 1px 4px;
  border: 1px solid #bbb;
}

.edit-and-delete-comment > * {  
  display: inline-block;
}

i.fa.fa-comments {
  margin-right: 1em;
}



